@*
*@
@{

}
<div class="main">
         <div class="col-md-12 col-sm-12">
            <div class="contenedorlogin">
               <form>
                  <div class="form-group">
                     <label>E-mail</label>
                     <input type="email" name="email" class="form-control" placeholder="Email">
                  </div>
                  
                  <div class="botones">
                    <button type="submit" class="btn btn-success">Resetear contrasena</button>
             
                  </div>
                     @if (@ViewBag.Result != null)
{
   <div class="alert alert-danger" role="alert">
 @ViewBag.Result
</div>

}
               </form>
            </div>
         </div>
      </div>