html {
  font-size: 14px;
}

.contenedorlogin{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.botones{
  margin-top: 20px;
}
.titulo{
  text-align: center;
}
.olvidastea{
  display: block;
  margin-top: 10px;
  cursor: pointer;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


