
@if (Context.Session.GetString("rol").ToUpper() != "CLIENTE"){
<a class="btn btn-success" asp-area="" asp-controller="Ticket" asp-action="CrearTicket">Crear Ticket</a>
 <a class="btn btn-info" asp-area="" asp-controller="Ticket" asp-action="GestionTickets">Por Departamento</a>
 <a class="btn btn-info" asp-area="" asp-controller="Ticket" asp-action="VerTodos">Todos los Tickets</a>
  <a class="btn btn-info" asp-area="" asp-controller="Ticket" asp-action="TicketsAsignados">Tickets Asignados</a>
}else{
<a class="btn btn-success" asp-area="" asp-controller="Ticket" asp-action="CrearTicket">Crear Ticket</a>
<a class="btn btn-success" asp-area="" asp-controller="Ticket" asp-action="CrearTicket">Estatus de Tickects</a>
}